body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff; 
  background:  #3c4656;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-family: FontAwesome, "Roboto", sans-serif;
}

h2 {
  color: #ffffff;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}

th, td {
  border: 1px solid #ffffff;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #17a589;
  color: white;
}

tr:nth-child(even) {
  background-color: #17a589; /* Change this to match the table header background color */
}

tr:nth-child(odd) {
  background-color: transparent; /* Change this to match the alternate row background color */
}

.demarrage-button {
  background-color: #17a589;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}

.demarrage-button:hover {
  background-color: #0e6c52;
}

.table-container {
  overflow-x: auto;
  width: 30%;
}
.table-container:first-child {
  margin-right: 5%;
}

.table-container table {
  table-layout: fixed;
}


.table-container th,
.table-container td {
  width: calc(100% / 3); 
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .table-container {
    width: 90%;
    margin-bottom: 20px;
  }
}

/* Adjust font sizes for smaller screens */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 18px;
  }

  th, td {
    font-size: 12px;
  }

  .demarrage-button {
    font-size: 14px;
  }
}